<!-- Semanticamente utilizziamo section per la sezione della lista Frutti -->
<section class="flex items-center justify-center mb-10 mt-5">
    <!-- Utilizziamo i condizionali per visualizzati determinati elementi in base alla condizione -->
    @if(caricamentoListaFrutta()) {
    <p class="text-xl text-bold text-green-900">Caricamento elenco frutta in corso...</p>
    <mat-spinner class="!h-10 !w-10"></mat-spinner>
    } @else if (erroreListaFrutta()) {
    <p class="text-xl text-green-900 text-bold">Ops! Errore nel caricamento della lista della frutta. Riprova!</p>
    } @else if (listaFrutta() && listaFruttiFiltrata()?.length === 0) {
    <p class="text-xl text-bold text-blue-900 m-5">Siamo Spiacenti, la ricerca ha dato nessun riscontro, 0 Frutti
        trovati.</p>
    } @else {
        <!-- Li lista frutti viene creata attraverso la card riutilizzabile -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
        @for (frutto of listaFruttiFiltrata(); track frutto.id){
        <app-frutta-card [frutto]="frutto" />
        }
    </div>
    }
</section>