<!-- Creiamo una card riutilizzabile per ogi frutto che arriva dal backend -->
<div class="flex flex-col p-3 m-2 bg-gradient-to-r from-green-100 to-white rounded-xl shadow-xl" animate.enter="apri-card">
    <!-- 1. Titolo nome e ID -->
    <div class="flex items-center justify-between w-full">
        <h2 class="text-lg">{{frutto().name}}</h2>
        <p class="text-sm text-gray-400">ID:{{frutto().id}}</p>
    </div>
    <mat-divider class="w-full" />
    <!-- 2. Sezione dettagli frutto -->
    <div class="mt-2 flex flex-col">
        <p>Famiglia: {{frutto().family}}</p>
        <p>Genere: {{frutto().genus}}</p>
        <p>Ordine: {{frutto().order}}</p>
        <div class="flex justify-between items-center">
            <p>Nutrienti ➡️ </p>
            <button (click)="toggleValNut()" matButton class="!text-green-700"> {{btnValNut() === true ? 'Chiudi Elenco' : 'Apri Elenco'}} </button>
        </div>
        <!-- Se btnValNut è true allora una sezione viene aperta con i valori nutrizionali -->
        @if(btnValNut()) {
            <div class="grid grid-cols-2" animate.enter="apri-elenco" animate.leave="chiudi-elenco">
                <p>Calorie: {{frutto().nutritions.calories}}</p>
                <p>Carboidrati: {{frutto().nutritions.carbohydrates}}</p>
                <p>Grasso: {{frutto().nutritions.fat}}</p>
                <p>Proteine: {{frutto().nutritions.protein}}</p>
                <p>Zucchero: {{frutto().nutritions.sugar}}</p>
            </div>
        }
        <!-- 3. Bottone per aggiungere il frutto alla macedonia -->
        <button matButton class="!text-green-700" (click)="fruitsStore.aggiungiAMacedonia(frutto())">Aggiungi</button>
    </div>

</div>