<div class="p-8 flex flex-col ">
    <!-- Creiamo due sezioni separate, la parte del titolo e la parte del form -->
    <div class="flex justify-between border-b-2 border-gray-400 pb-2">
        <h2 class="!text-green-700" mat-dialog-title>Aggiungi Nuovo Frutto</h2>
        <button tabindex="-1" mat-icon-button class="-mt-2 -mr-2" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content>
        <form class="">
            <div class="flex flex-rows gap-3">
                <div class="flex flex-col p-2 bg-blue-100 rounded-lg">
                    <div class="">
                        <label>Nome Frutto</label>
                        <input type="text" formControlName="name" placeholder="Nome Frutto">
                    </div>
                    <div class="">
                        <label>Famiglia</label>
                           <select formControlName="family">
                            @for (fam of famiglieDisponibili(); track fam) {
                            <option [value]="fam">{{fam}}</option>
                            }
                        </select>
                    </div>
                    <div class="">
                        <label>Genere</label>
                        <select formControlName="genus">
                            @for (gen of generiDisponibili(); track gen) {
                            <option [value]="gen">{{gen}}</option>   }
                        </select>
                    </div>
                    <div class="">
                        <label>Ordine</label>
                        <select formControlName="order">
                            @for (ord of ordiniDisponibili(); track ord) {
                            <option [value]="ord">{{ord}}</option>   }
                        </select>
                    </div>
                </div>

                <div class="p-2 bg-green-100 rounded-lg">
                    <p class="flex justify-center mb-2">Valori Nutrizionali per 100g:</p>
                    <div class="grid grid-cols-2 gap-2 !items-center justify-center">
                        <div class="">
                            <label>Carboidrati</label>
                            <input type="text" formControlName="carbohydrates">
                        </div>
                        <div class="">
                            <label>Proteine</label>
                            <input type="text" formControlName="protein">
                        </div>
                        <div class="">
                            <label>Grasso</label>
                            <input type="text" formControlName="fat">
                        </div>
                        <div class="">
                            <label>Calorie</label>
                            <input type="text" formControlName="calories">
                        </div>
                        <div class="">
                            <label>Zuccheri</label>
                            <input type="text" formControlName="sugar">
                        </div>
                     
                    </div>
                </div>
            </div>
        </form>

    </mat-dialog-content>
</div>