/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.wrapper-input-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titolo-label-dialog {
    font-size: var(--text-lg);
    color: var(--color-green-700);
}

.input-select-dialog {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #d1d5db;
    background-color: white;
    border-radius: 0.5rem;
}

